<div id="<%= dom_id training %>">
  <p>
    <strong>Nome:</strong>
    <%= training.name %>
  </p>

  <p>
    <strong>Treino sozinho?:</strong>
    <%= training.single ? "Sim" : "Não" %>
  </p>

  <p>
    <strong>Duração (minutos):</strong>
    <%= training.durantion_minutes %>
  </p>

</div>
