<h1>Editing instructor</h1>

<%= render "form", instructor: @instructor %>

<br>

<div>
  <%= link_to "Show this instructor", @instructor %> |
  <%= link_to "Back to instructors", instructors_path %>
</div>
