<h1>Launch GYM - App para gerenciamento de alunos em academias.</h1>

</br>
<h2>Total alunos: <%= Student.count %></h2>
<h2>Total instrutores: <%= Instructor.count %></h2>
<h2>Total turmas: <%= ClassSession.count %></h2>