<h1>Editar Aluno por Classe</h1>

<%= render "form", class_session_student: @class_session_student %>

<br>

<div>
  <%= link_to "Detalhes", @class_session_student %> |
  <%= link_to "Voltar", class_session_students_path(class_sessions_id: @class_session_student.class_sessions_id) %>
</div>