<h1>New class session student</h1>

<%= render "form", class_session_student: @class_session_student %>

<br>

<div>
  <%= link_to "Back to class session students", class_session_students_path %>
</div>
