<h1>Editar turma</h1>

<%= link_to "Ver alunos da turma", class_session_students_path(class_session_id: @class_session.id), class: 'btn btn-primary' %>

<%= render "form", class_session: @class_session %>

<br>

<div>
  <%= link_to "Voltar", class_sessions_path %>
</div>
