/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    background-color: #98caff;
    color: #ffffff;
    padding: 50px;
    margin-top: auto;
    text-align: center;
    font-size: 3em;
}

.small-textarea {
    width: auto;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 10;
    padding: 20px 10px 10px 10px;
    background-color: #63aeff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-image-container {
    width: 100%; /* Defina a largura desejada */
    height: 100%; /* Defina a altura desejada */
    overflow: hidden; /* Oculta qualquer conteúdo que extrapole o contêiner */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-content: center;
  }

.filter-field {
    margin-right: 20px;
}

